/* Custom styles for the website */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }

  h1 {
    font-size: 28px;
  }

  #photo-gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #photo-container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .photo-card {
    width: 300px;
    height: auto;
    margin: 10px;
    text-align: center;
  }

  .photo-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .photo-card h2 {
    margin-top: 10px;
    font-size: 20px;
  }

  #add-photo-form {
    margin-top: 20px;
    text-align: center;
  }

  #photo-url-input,
  #photo-caption-input {
    padding: 5px;
    margin-right: 10px;
  }

  #add-photo-btn {
    padding: 5px 10px;
  }
